@import '/src/assets/custom.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
main {
  width: 100%;
  height: 100%;
}

input {
  border: none;
  outline: none;
}

body {
  background-color: #3fa6a3;
}

* {
  font-size: 13px;
  font-family: sans-serif;
}

h4 {
  font-size: 1.3rem;
}
